<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/js/module.js"></script>
    <!-- 
    <script src="/directives/myTable.js"></script>
    <script src="/controllers/mainCtrl.js"></script>
     -->
  </head>
  <body ng-app="someApp" ng-controller="homeCtrl">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <!-- <my-table data='users'></my-table> -->
    <label for="">Description:</label>
    <input type="text" ng-model="todo.description">
    <button ng-click="addTodo(todo)">Add Todo</button>
  
    {{todos}}
    <table>
      <thead>
        <tr>
          <!-- <td ng-repeat='(header, value) in todos[0] track by $index'
              ng-click='sort(header)'>{{header}}</td> -->
            <th>#</th>
            <th>Description</th>
            <th ng-click="sort('date')">Date</th>
            <th>Complete?</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat='item in todos | orderBy:sorttext track by $index'>
          <!-- <td ng-repeat='value in item '>{{value}}</td> -->
          
          <td>{{$index}}</td>
          <td>{{item.description}}</td>
          <td>{{item.date}}</td>
          <td ng-click="toggle(item)">{{item.iscomplete}}</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
